* {
	margin: 0;
}

section {
	outline: none;
}

/* Tools */

.navbar a.icon {
	display: none;
}

.ico {
	color: blue;
	font-size: 2em;
	padding-bottom: 20px;
}
.flat-button {
	padding: 20px 20px;
	background: none;
	color: white;
	border: 1px solid white;
	transition: all .2s ease-in;
	text-decoration: none;
}

.flat-button:hover {
	border: 1px solid black;
	background: white;
	color: black;
}

.flat-btn-action {
	background: white;
	color: black;
	border: 1px solid black;
}

.flat-btn-action:hover {
	background: none;
	color: white;
	border: 1px solid white;
}

.cell-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-container-end {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.cell-container-start {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.cell-img {
	display: block;
	margin: 0 auto;
	max-width: 60%;
}

.cell-p {
	width: 80%;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}

.cell-header {
	padding-top: 25px;
	text-align: center;
}

.section-container {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.section-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}

.sh-container {
	font-size: 1.5em;
}

.sh-container > h1 {
	padding-bottom: 50px;
}

.sh-container > p {
	width: 70%;
	margin: 0 auto;
}

.bold {
	font-weight: bolder;
	font-size: 1.5em;
}

.play {
	border: none;
	background: blue;
	text-align: center;
	color: white;
	height: 70px;
	width: 70px;
	cursor: pointer;
	outline: none;
	font-size: 1.5em;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding-left: 10px;
	transition: all .1s ease-in-out;
}

.play:hover {
	background: white;
	color: blue;
}

.video-banner {
	padding-bottom: 15px;
}

.modal {
	display: none;
	position: fixed;
	background: rgba(0,0,0,.4);
	width: 100%;
	height: 100vh;
	z-index: 1000;
}

.modal > iframe {
	position: relative;
	width: 560px;
	height: 316px;
	margin-top: -158px;
	margin-left: -280px;
	top: 50%;
	left: 50%;
}

.bold {
	font-weight: bolder;
	font-size: 1.5em;
}

/*Navbar*/

.header-img {
	height: 50px;
}

.nav-header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 100%;
	top: 15px;
	z-index: 1000;
	transition: all .2s ease-in-out;
}

.nav-header-scrolled {
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 100%;
	background: white;
	top: 0;
	z-index: 1000;
	transition: all .2s ease-in-out;
}

.navbar {
	display: flex;
	justify-content: space-around;
	width: 25%;
}

.nav-link {
	padding: 10px;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	transition: all .2s ease-in-out;
}

.nav-link-scrolled {
	padding: 10px;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	transition: all .2s ease-in-out;
}

.nav-link:hover {
	border-bottom: 2px solid white;
}

.nav-link-scrolled:hover {
	border-bottom: 2px solid black;
}

/* Sections*/

#about {
	background: white;
	height: 100vh;
}
#features {
	background: #eee;
	height: 100vh;
}
#home {
	background: #254cea;
	height: 100vh;
}
#buynow {
	background: white;
	height: 100vh;
}

#faqs {
	background: white;
	height: 100vh;
}

#contact {
	background: #eee;
	height: 100vh;
}

/* Home Section */

.hc-btn-container {
	float: left;
}

.home-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 0 auto;
	width: 80%;
	height: 100%;
}

.hg-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hg-image {
	width: 350px;
}

.home-content {
	font-size: 1.4em;
	width: 90%;
	color: white;
}

.home-content > h1, .home-content > p, .home-content > div {
	padding: 10px;
}

.home-content > P {
	padding-bottom: 25px;
}

/* Features Section */

.features-grid {
	display: grid;
	height: 50vh;
	grid-template-columns: 1fr 1fr 1fr;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container > div > * {
	padding: 10px;
}

.card-container > div > i {
	color: blue;
	font-size: 1.5em;
}

/* About Section */

.about-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 80%;
	margin: 0 auto;
	height: 70vh;
	background: white;
}

.about-video {
	position: relative;
	height: 30vh;
	background: url("./images/video-bg.jpeg");
}

/* Buy Section */

.buynow-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 50px;
	height: 60vh;
}

.buynow-grid > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-border {
	padding: 20px 0;
	border: 1px solid #ccc;
}

.price {
	padding: 25px 0;
}

.buynow-button {
	padding: 10px 10px;
	background: blue;
}

/* subscribe */

.sub-image {
	position: relative;
	height: 50vh;
	background: url("./images/subscribe-bg.jpeg");

}

.sub-banner {
	font-size: 2.5em;
	padding: 20px;
}

.email-sub {
	display: block;
	margin: 0 auto;
	width: 450px;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.submit {
	border: none;
	background: blue;
	color: white;
	font-size: 1.5em;
	padding: 10px;
	width: 455px;
}

/* faqs section*/

.faqs-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 80%;
	margin: 0 auto;
}

.accordion {
	height: 100%;
}

.accordion-tab {
	text-align: left;
	font-size: 1.4em;
	border: 1px solid #ccc;
	background: none;
	width: 100%;
	height: 25%;
}

/* Contact Section */

.contact-grid {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
}

.contact-info {
	display: block;
	margin: 0 auto;
	padding-left: 10px;
	width: 440px;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.contact-msg {
	display: block;
	margin: 0 auto;
	resize: none;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	width: 440px;
	font-size: 1.5em;
	height: 200px;
}

.detail-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.social-links {
	display: flex;
	justify-content: space-around;
	font-size: 1.2em;
	color: blue;
}

.map {
	width: 100%;
	height: 100%;
}

.detail-p {
	font-size: 1.2em;
}

/* Parallax */
.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax::before {
	content: "";
	background: black;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
}

.parallax-center {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 100%;
	height: 100%;
}


@media only (min-width: 769px) {
}
/*Tablet*/
@media only screen and (max-width: 769px) {

	.ico {
		font-size: 1.5em;
	}

	.section-container {
		width: 100%;
	}

	.section-header {
		height: 20vh;
	}

	.cell-container-end {
		align-items: center;
	}

	.cell-container-start {
		align-items: center;
	}

	#home {
		height: 80vh;
	}

	#features {
		height: 90vh;
	}

	#about {
		height: 150vh;
	}

	#contact {
		height: 120vh;
	}

	#buynow {
		height: 120vh;
	}

	.home-content {
		font-size: 1em;
	}

	.hg-image {
		width: 200px;
	}

	.home-grid {
		width: 100%;
	}

	.features-grid {
		grid-template-columns: 1fr 1fr;
	}

	.about-grid {
		grid-template-columns: 1fr 1fr;
	}

	.buynow-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.cell-border {
		border: none;
	}

	.contact-grid {
		grid-row-gap: 25px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.contact-info {
		width: 90%;
	}

	.contact-msg {
		width: 90%;
	}

	.submit {
		width: 90%;
	}

	.social-links {
		font-size: 1em;
	}

	.map {
		width: 90%;
	}

	.detail-p {
		font-size: 1.2em;
	}


}

/*Large phone*/
@media (max-width: 600px) {

	.nav-header {
		justify-content: flex-start;
		position: fixed;
		top: 0;
	}
	.navbar a:not(:first-child) {display: none}

	.navbar {
		display: block;
		width: 100%;
	}

	.navbar a.icon {
		display: block;
		float: right;
		color: black;
		outline: none;
		padding-right: 10px;
	}

	.navbar.responsive {position: absolute; top: 0;}
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.navbar.responsive a {
		float: none;
		background: white;
		color: black!important;
		border: 1px solid white;
		display: block;
		text-align: left;
	}


	.header-img {
		display: none;
	}

	.sh-container {
		font-size: 1em;
	}

	.sh-container > h1 {
		padding-bottom: 50px;
	}

	.sh-container > p {
		width: 90%;
		margin: 0 auto;
	}

	.home-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
}
